.input{
  background-color: var(--color-dark-500);
  color: var(--color-light-900);
  width: 212px;
  height: 40px;
  border: none;
}
.input::placeholder {
  position: absolute;
  left: 15px;
  top: 50%; /* Сдвигаем вниз на половину высоты */
  transform: translateY(-50%); /* Чтобы выровнять по вертикали */
}
