:root {
  /* Dark Theme */
  --color-dark-500: #202020;
  --color-dark-700: #181818;
  --color-dark-900: #0d0d0d;

  /* Light Theme */
  --color-light-100: #FFF;
  --color-light-300: #c4c4c4;
  --color-light-700: #d2d2d2;
  --color-light-900: #828282;

  /* Info */
  --color-info-900: #107EFF;

  /* Accent */
  --color-accent-900: #3137C9;
}