.card {
  max-width: 700px;
  width: 100%;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.35);
  background-color: #202020;
  margin-top: 27px;
  margin-bottom: 55px;
  border-radius: 5px;

  .cardImage {
    max-width: 700px;
    width: 100%;
    height: 265px;
    border-radius: 5px;
  }

  .cardWrapper {
    background-color: transparent;
    padding: 25px;
  }

  .cardHeader {
    background-color: #202020;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }

  .cardText {
    background-color: #202020;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #c4c4c4;
  }

  .cardGroup {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardInfo {
    background-color: #202020;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

    .cardInfoSpan {
      background-color: #202020;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      color: #828282;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
        margin-left: 15px;
      }
    }
  }

  .cardBtn {
    border: none;
    background-color: #202020;
    color: #107EFF;
    cursor: pointer;
  }
}