.links{
  display: flex;
  gap: 25px;
  margin-left: 25px;
  align-items: center;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  max-height: 74px;
  background-color: var(--color-dark-900);
  box-shadow: 2px 2px 5px var(--color-dark-500);
}
